<%- include header %>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <form class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label">平&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台</label>
                        <div class="controls">
                            <select class="form-control" name="platform">
                                <% if (stash.area & 1) { %>
                                    <option value='1'<%= stash.platform==1? "selected": "1" %> >简体版</option>
                                <% } %>
                                <% if (stash.area & 2) { %>
                                    <option value='2'<%= stash.platform==2? "selected": "2" %> >繁体版</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <% if (stash.area & 1) { %>
                        <div class="control-group">
                            <label class="control-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
                            <div class="controls">
                                <select class="form-control" name="version">
                                    <option value='1'<%= stash.version==1? "selected": "1" %> >安卓</option>
                                    <option value='2'<%= stash.version==2? "selected": "2" %> >IOS</option>
                                </select>
                            </div>
                        </div>
                    <% } %>
                    <div class="control-group">
                        <label class="control-label">w&nbsp;&nbsp;u&nbsp;&nbsp;i&nbsp;&nbsp;d</label>
                        <div class="controls">
                            <% if (stash.wuid) { %>
                                <input type="text" name='wuid' value=<%= stash.wuid %> />
                            <% } else { %>
                                <input type="text" name='wuid' placeholder="请输入玩家的wuid"/>
                            <% } %>                            
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备库日期</label>
                        <div class="controls">
                            <input type="date" name="startDate" value=<%= stash.startDate %> />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                             <button type="submit" class="btn btn-primary " name="btn" value="query">查询详情</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span8">
                <% if (stash.data && stash.data.length > 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    区服
                                </th>
                                <th>
                                    MID
                                </th>
                                <th>
                                    WUID
                                </th>
                                <th>
                                    球队名
                                </th>
                                <th>
                                    VIP
                                </th>
                                <th>
                                    钻石
                                </th>
                                <th>
                                    金币 
                                </th>
                                <th>
                                    经验
                                </th>
                                <th>
                                    体力
                                </th>
                                <th>
                                    天梯荣誉
                                </th>
                                <th>
                                    天梯积分
                                </th>
                                <th>
                                    创建日期
                                </th>
                            </tr>
                        </thead>
                        <% for (var i=0; i<stash.data.length; ++i) { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= stash.data[i].server %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].mid %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].wuid %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].name %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].vip %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].money %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].coin %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].exp %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].energy %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].ttr %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].ttp %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].ct %>
                                    </td>
                                </tr>
                            </tbody>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
<%- include footer %>
