<%- include header %>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <form class="form-horizontal" method="post">
                    <div class="control-group">
                        <div class="controls">
                             <button type="submit" class="btn btn-primary" name="btn" value="download">下载</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span8">
                <% if (stash.data && stash.data.length > 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    编号
                                </th>
                                <th>
                                    操作ID
                                </th>
                                <th>
                                    操作名称
                                </th>
                            </tr>
                        </thead>
                        <% for (var i=0; i<stash.data.length; ++i) { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= i + 1 %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].id %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].name %>
                                    </td>
                                </tr>
                            </tbody>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
<%- include footer %>
