<%- include header %>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <form class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label">平&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台</label>
                        <div class="controls">
                            <select class="form-control" name="platform">
                                <% if (stash.area & 1) { %>
                                    <option value='1'<%= stash.platform==1? "selected": "1" %> >简体版</option>
                                <% } %>
                                <% if (stash.area & 2) { %>
                                    <option value='2'<%= stash.platform==2? "selected": "2" %> >繁体版</option>
                                <% } %>
                             </select>
                        </div>
                    </div>
                    <% if (stash.area & 1) { %>
                        <div class="control-group">
                            <label class="control-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
                            <div class="controls">
                                <select class="form-control" name="version">
                                    <option value='1'<%= stash.version==1? "selected": "1" %> >安卓</option>
                                    <option value='2'<%= stash.version==2? "selected": "2" %> >IOS</option>
                                </select>
                            </div>
                        </div>
                    <% } %>
                    <div class="control-group">
                        <label class="control-label" name="server">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服</label>
                        <div class="controls">
                            <select class="form-control" name='server'>                    
                                <% if (stash.area & 1) { %>
                                    <option value='-2'<%= stash.server==-2? "selected": "-2" %> >安卓全服</option>
                                    <option value='-3'<%= stash.server==-3? "selected": "-3" %> >IOS全服</option>
                                <% } else { %>
                                    <option value='-1'<%= stash.server==-1? "selected": "-1" %> >全服</option>
                                <% } %>
                                <% stash.servers.forEach(function(elem){ %>
                                    <option value=<%= elem.i %> <%= stash.server == elem.i? "selected" : elem.i %> ><%= elem.n %></option>
                                <% }) %>
                             </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">类型</label>
                        <div class="controls">
                            <select class="form-control" name='ope'>
                                <option value='1'<%= stash.ope==1? "selected": "1" %> >钻石产出</option>
                                 <option value='2'<%= stash.ope==2? "selected": "2" %> >钻石消耗</option>
                             </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" name="">VIP等级过滤</label>
                        <div class="controls">
                            <% if (stash.subID && stash.subID != '/') { %>
                                <input type="text" name='subID' value=<%= stash.subID %> />
                            <% } else { %>
                                <input type="text" name='subID' placeholder="请输入VIP等级段min-max"/>
                            <% } %>                            
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">开始日期</label>
                        <div class="controls">
                            <input type="date" name="startDate" value=<%= stash.startDate %> />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">结束日期</label>
                        <div class="controls">
                            <input type="date" name="endDate" value=<%= stash.endDate %> />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">邮箱地址</label>
                        <div class="controls">
                            <% if (stash.email) { %>
                                <input type="text" name='email' value=<%= stash.email %> />
                            <% } else { %>
                                <input type="text" name='email' placeholder="请输入邮箱地址"/>
                            <% } %>                            
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" type="submit" name="submit" value="query">查询</button>
                             <button type="submit" class="btn btn-primary " name="btn" value="download">下载</button>
                            <button type="submit" class="btn btn-primary " name="btn" value="email">邮件查询</button>
                        </div>
                    </div>
                    <div class="display">
                        <dl>
                            <dt>
                                Note:
                            </dt>
                            <dd> 1、VIP等级为可选项,默认不过滤,格式：最小VIP-最大VIP,也可仅指定其一 </dd>
                            <dd> &nbsp;&nbsp;示例1)：2- 表示选取VIP最低等级为2的所有玩家</dd>
                            <dd> &nbsp;&nbsp;示例2)：-6 表示选取VIP最高等级为6的所有玩家</dd>
                            <dd> &nbsp;&nbsp;示例3)：2-6 表示选取VIP等级为2至6的所有玩家</dd>
                            <dd> 2、邮件查询结果将在30分钟内发送到指定邮箱。</dd>
                            
                        </dl>
                    </div>
                </form>
            </div>
            <div class="span8">
                <table class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    编号
                                </th>
                                <th>
                                    区服
                                </th>
                                <th>
                                    日期
                                </th>
                                <th>
                                    操作
                                </th>
                                <th>
                                    人数
                                </th>
                                <th>
                                    总额
                                </th>
                            </tr>
                        </thead>
                        <% for (var i=0; i<stash.data.length; ++i) { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= i + 1 %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].server %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].date %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].action %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].count %>
                                    </td>
                                    <td>
                                        <%= stash.data[i].total %>
                                    </td>
                                </tr>
                            </tbody>
                        <% } %>
                </table>
            </div>
        </div>
    </div>
<%- include footer %>
